.skill-determinate .skill-determinate-circle{
  font-size: 11px;
  top: -4px;
}

iframe{
  display: none;
}

#foxyform_embed_link_314329{
  display: none !important;
}

p .float-left .full-with{
  display: none;
}

#mainform123{
  display: none;
}
